{{ define "main" }}
<article>
  <div class="fade-in">
    <h1>{{ .Title }}</h1>
    {{ .Content }}
  </div>

  <ul class="project-list">
    {{ range .Pages.ByDate.Reverse }}
    <li class="project-item fade-in">
      <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
      {{ with .Description }}<p>{{ . }}</p>{{ end }}
      {{ with .Params.tags }}
      <div class="tags">
        {{ range . }}
        <span class="tag">{{ . }}</span>
        {{ end }}
      </div>
      {{ end }}
      <div class="project-links">
        {{- partial "project-links.html" . -}}
      </div>
    </li>
    {{ end }}
  </ul>
</article>
{{ end }}
