{{ define "main" }}
<article>
  <div class="fade-in">
    <h1>{{ .Title }}</h1>
    {{ .Content }}
  </div>

  <!-- Filter by categories -->
  {{ $categories := .Site.Taxonomies.categories }}
  {{ if $categories }}
  <div class="filter-links fade-in">
    <span>Categories:</span>
    <a href="{{ "blog/" | relURL }}">All</a>
    {{ range $name, $taxonomy := $categories }}
    <a href="{{ "categories/" | relURL }}{{ $name | urlize }}/">{{ $name }}</a>
    {{ end }}
  </div>
  {{ end }}

  {{- partial "post-list-by-year.html" .Pages -}}
</article>
{{ end }}
